h1 {
  text-align: center;
  margin-bottom: 0%;
  background-image: linear-gradient(to right, rgb(67, 51, 6), rgb(10, 75, 30) , rgb(13, 70, 130));
  color: white
}
#forecast {
  position: absolute;
  left: -2%;
}
#search-button-icon {
  width:15px;
  display:inline-block;
}
/* Media queries */
@media only screen and (max-width: 992px) {
  #search-city{
      width:100%;
  }
  #search-button{
      width:100%;
  }
}
@media only screen and (max-width: 575px) {

  #fiveDayForecastUl{
      justify-content: center;
  }
}
